@import '../variables.styl'

.MovieItem-container
  cursor pointer
  z-index 99
  
  img
    display block
    margin 10px
    width 200px
    transition all 200ms ease-in-out
  
  .noImage
    width 200px
    height 170px
    margin 10px
    padding-top 130px
    background-color color-dark
    text-align center
  
  h4 
    font-size 0.7em
    color color-white
    transition all 200ms ease-in-out
    
  &:hover
    > img
      opacity 0.6
      
    h4
      color darken(color-white, 20)
  
  .MovieInView-container
    position fixed
    top 0
    left 0
    width 90vw
    height 90vh
    opacity 0
    background-color color-darkest
    transition all 200ms ease-in-out
    z-index -1
    padding 5vh 5vw
    
    img, .noImage
      display table
      margin 0 auto 20px
      width 250px
      
    
    .MovieInView-title
      color color-white
      
    .MovieInView-description
      color color-gray

    .MovieInView-title, .MovieInView-description
      margin-bottom 20px
    
    .MovieInView-popularity, .MovieInView-rating
      margin-bottom 15px
      color darken(color-gray, 40)
      
      span
        color color-lightest
    
    p
      font-size 1.2em
      text-align center
    
    &.visible
      opacity 1
      z-index 999
    

      
