@import '../variables.styl'

.MovieItem-container
  background-color lighten(color-lightest, 55)
  border-radius 5px
  border 1px solid lighten(color-lightest, 45)
  width 240px
  margin 10px
  
  img
    display block
    margin 20px auto 10px
    max-width 200px
    border-radius 3px
    
  p
    display block
    margin 20px 20px
    font-size 0.8rem
    
    .NoDescription
      color color-dark
      font-style italic
  
  button
    display block
    margin 10px auto
      
