@import '../variables.styl'

.MovieList-container
  position relative
  display flex
  flex-flow row wrap
  padding 5px
  list-style-type none
  
  .MovieList-controls
    
    select, input, span
      margin 0 20px
  
  .MovieList-empty
    margin 20px
    text-align center
    font-style italic
  
