@import '../variables.styl'

.SearchBar-container
  width 100%
  background-color lighten(color-normal, 10)
  margin 10px 0
  padding 10px
  
  .error
    color red
    font-weight bold
    
  .success 
    color color-darkest
  
  .response
    margin-bottom 10px
    
  label
    margin 0 10px
  
