@import '../variables.styl'

.SearchBar-container
  display table
  margin 10px auto
  padding 10px
  color color-white
  
  .error
    color red
    font-weight bold
    
  .success 
    color color-normal
  
  .response
    margin-top 10px
    text-align center
    
  label
    margin 0 10px
    
  button, input
    font-size 1em
    
  input.searchBox
    border-bottom-right-radius 0px
    border-top-right-radius 0px
    min-width 190px
    
  button
    margin-right 10px
  
    &.searchButton
      border-left none
      border-bottom-left-radius 0px
      border-top-left-radius 0px
  
