@import '../variables.styl'

.App-container
  margin: 20px
  
  .App-header
    position fixed
    top 0
    left 0
    height 55px
    width 100vw
    display flex
    flex-flow row wrap
    justify-content space-between
    background-color color-normal
    color color-white
    z-index 999
    
    h2
      padding 10px 20px
  
  .App-body
    width 100%
    margin-top 70px
    overflow hidden

    h1, h2, h3
      color color-dark