color-lightest = #1dc4fb
color-light = darken(color-lightest, 10)
color-normal = darken(color-lightest, 20)
color-darkest = #171717
color-dark = #28292b


color-white = #fafeff
color-black = #000000
color-gray = #e6e6e6